In [2]:
import numpy as np
import os
import os.path as op
import pandas as pd

import string

In [3]:
## PART 1

input_filename = op.join(os.getcwd(), 'inputs', 'input_003.txt')

# first load file as is
raw_df = pd.read_csv(input_filename, sep='\t', header = None)

# now reshape into input df, separating by rugsacks compartments
tmp_list = [pd.DataFrame({'compartment_1': [raw_df.iloc[ind].values[0][:int(len(raw_df.iloc[ind].values[0])/2)]], 
                          'compartment_2': [raw_df.iloc[ind].values[0][-int(len(raw_df.iloc[ind].values[0])/2):]]},
                        index = [ind]) for ind in range(len(raw_df))]
input_df = pd.concat(tmp_list)
# add column with common character
tmp_list = [char for ind in range(len(raw_df)) for char in np.unique(list(input_df.compartment_1[ind])) if char in list(input_df.compartment_2[ind])]
input_df['common_item'] = tmp_list

In [4]:
input_df

                compartment_1             compartment_2 common_item
0           vGFhvGvvSdfwqhqvm         CPnlFPnCNPcCFcWcr           F
1                 ZbWZDMgsTHs               rNNLJcJnsJl           s
2             HbBWQgZVZZBzbgZ           phwjqpmmVfdGmjG           V
3          vvCJLGnthChvtrvCCn        RbTRqRPRBtbTRfPRRl           t
4                  djZSgHNNwj                qcdWlbcbfc           d
..                        ...                       ...         ...
295         nvBvHpBppnvPPnJTB         WLJVMwVfWJfCbfWgW           J
296  hsHHpBsvRTHpsPszTBTTsRTs  lGqGqlcqlScnqmhZmmZSZSjl           h
297         DddBHCmfWCBTDBHTH         fMpzhzpJJMJsFrGrz           f
298  tPVPmbnttjPnZvSvSbnmZPZP  NpNGMpJNzzNrGJpvhsshMpFs           v
299        mwnZcbmmStbVtVjbZV        lcLTBlcLCRHRDWCWWW           c

[300 rows x 3 columns]

In [5]:
## priotitization system
all_characters = np.hstack((list(string.ascii_lowercase),list(string.ascii_uppercase)))

priori_points = {key: value+1 for value, key in enumerate(all_characters)}

In [6]:
## now count points
total_points = np.sum([priori_points[key] for key in input_df.common_item.values])
total_points

7785

In [7]:
## PART 2

# separate in groups and keep whole rugsack
tmp_list = [pd.DataFrame({'group': np.repeat(ind,3), 
                          'rugsack': frame.values[:,0]},
                        index = None) for ind, frame in enumerate(np.array_split(raw_df, len(raw_df)/3))]
input2_df = pd.concat(tmp_list)

# find character that is common to all 3
common_character = [char for ind in np.unique(input2_df.group) for char in np.unique(list(input2_df[input2_df.group == ind].rugsack.values[0])) if char in list(input2_df[input2_df.group == ind].rugsack.values[1]) and \
                    char in list(input2_df[input2_df.group == ind].rugsack.values[-1])]

In [8]:
## now count points
total_points_2 = np.sum([priori_points[key] for key in common_character])
total_points_2

2633